language: java
jdk:
  - oraclejdk8
sudo: false
cache:
  directories:
    - $HOME/.gradle
script:
  - ./gradlew clean
  - ./gradlew test
  - ./gradlew bootJar -x test
deploy:
  provider: heroku
  api_key:
    secure: XrbVrhZfwPJmMoP6EWchHA
  app: parking_system_backend
  on:
    repo: TATP-BOOTCAMP-2018-GROUP3/parking_system_backend
notifications:
  webhooks:
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false